
.cabecera1{
    box-shadow: 0px 0px 7px 0px white;
    background-color: skyblue;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    margin: 5px;
    height: 70px;
    grid-area: cabecera;
    border: 1px solid white;
    width: 1350px;
  
   
}
.nav {	
    color:#f4f5f5;
	font-size:10px;
	line-height:70px;
	float:left;
    
}
.nav a {
    
	display:inline-block;
	color:rgb(24, 22, 22);
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
    font-weight:bold;
    font: 150% sans-serif;	

}
ul, ol {
    list-style:none;
    
}
.nav > li {
    float:left;
}
.nav li a {
  
    color:rgb(48, 43, 43);
    text-decoration:none;
    padding:10px 12px;
    display:block;   
}
.nav li a:hover {
    background-color:orange;
    
}
.nav li ul {
    
    display:none;
    position:absolute;
    min-width:140px;
    background-color:white;
}
.nav li:hover > ul {
    display:block;
}
.wrapper {
	width:95%; 
	max-width:1400px; 
	margin:10px; 
    overflow:hidden;    
}
header .boton-ingresar {
    float:right;
    line-height:50px;
    color:#292828;	
}
header .boton-publicar {
    float:right;
    line-height:50px;
    color:#f2f2f2;
}
header .boton-ingresar a {
	display:inline-block;
	color:#fff;
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
	font-weight:bold;
    background:green;
    border-radius:10px;
    margin-left: 10px;
    margin-top: -10px;
  
}
header .boton-ingresar a:hover {
	background:red;
	border-radius:10px;
}
header .boton-publicar a {
	display:inline-block;
	color:rgb(29, 28, 28);
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
    font-weight:bold;
    margin-left: 10px;
 
}

header .boton-publicar a:hover {
	
	border-radius:50px;
}
img{
    float: left;
    margin-top: -10px;
}